@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');

body {
    margin: 0;
    display: flex;
    background-color: #eff5f8;
    font-family: 'Noto Sans', sans-serif;
}

/* Banner */
#banner {
    background-color: #2a92c2;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 24px;
    font-weight: bold;
    z-index: 1000;
}

.bannertext {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bannericon {
    display: flex;
    gap: 25px;
    margin-left: auto;
    margin-right: 40px;
}

.sidebar {
    width: 290px;
    height: 100vh;
    background-color: #eff5f8;
    position: fixed;
    left: 0;
    top: 80px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #9e9fa4;
}

.sidebar button, .dropdown-btn {
    padding: 15px;
    width: 100%;
    border: 1px solid #9e9fa4;
    background-color: #eff5f8;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.sidebar button:hover, .dropdown-btn:hover {
    background-color: #d5eaf5;
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #eff5f8;
    border: 1px solid #9e9fa4;
    width: 200px;
}

[x-show="open"] {
    display: flex !important;
}

.content {
    margin-left: 310px;
    padding: 20px;
}
